* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-main-blue: #5671a6;
  --text-dark-gray: #383838;
  --text-light-gray: #616161;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Caveat", cursive;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
}

h1 {
  color: var(--text-main-blue);
  font-size: 36px;
}
h2 {
  color: var(--text-main-blue);
  font-size: 32px;
}
h3 {
  color: var(--text-main-blue);
  font-size: 16px;
}
h4 {
  color: var(--text-dark-gray);
  font-size: 16px;
}
h5 {
  color: var(--text-dark-gray);
  font-size: 14px;
}
h6 {
  color: var(--text-light-gray);
  font-size: 12px;
  font-weight: 400;
}
button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50px;
  border: 2px solid var(--text-main-blue);
  cursor: pointer;
  transition: 0.3s;
}
.btn-demo {
  background: none;
  color: var(--text-main-blue);
  text-transform: uppercase;
  padding-left: 40px;
  padding-right: 40px;
}
.btn-demo:hover {
  background: var(--text-main-blue);
  color: var(--text-white);
}
button:active {
  transform: scale(90%);
}
.btn-contact {
  color: var(--text-white);
  background-color: var(--text-main-blue);
  padding-left: 35px;
  padding-right: 35px;
}
body {
  background-image: url("../images/background-light.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-nav a {
  border-bottom: 2px solid #38383800;
  transition: 0.3s;
}
.header-nav a:hover {
  border-bottom: 2px solid var(--text-main-blue);
}
